/* CSS para mostrar las opciones de FILTRAR de los ACTIVOS, es decir el LADO IZQUIERDO de la pantalla */

#div_izq {
    position: relative;
    margin: auto;
    width: 27.5%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

/*FORM donde ira todo lo de filtrar*/
#form_filtrar {
    margin: auto; 
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    max-height: 80%;
    min-width: 90%;
    align-self: center;
}

#header_filtrado {
    margin: auto;
    align-self: center;
    font-weight: normal;
}

hr {
    width: 95%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

/*El label que acompañe un TXT de busqueda*/
#lb_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 2px 10px;
}

/*Cualquier TXT en el que se ingrese informacion para buscar, como el nombre o # de serie del activo*/
.txt_datos {
    width: 85%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}

/*Los combo box para los datos del tipo de activo, institucion del activo, y el estado del activo*/
.cmb_datos {
    width: 85%;
    height: 30px;
    margin: 10px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}

/*Div donde vendran todas las opciones de filtrado*/
#div_opciones {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    width: auto;
}

#btn_filtrar {
    margin: 20px;
    width: 115px;
    height: 40px;
    background: var(--primary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
}

#btn_limpiar {
    margin: 20px;
    width: 115px;
    height: 40px;
    background: var(--secundary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
}

#btn_nuevoAct {
    position: relative;
    align-self: center;
    width: 40%;
    height: 70%;
    background: var(--primary);
    color: white;    
    transition: .6s;    
    margin: auto;
    bottom: 20px;
}

#btn_nuevoAct:hover, #btn_filtrar:hover, #btn_limpiar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.div_btns_agregar{
    position: relative;
    min-width: 95%;
    height: 10%;
    display: flex;
}

/* CSS para mostrar las INFORMACION/LISTA de los ACTIVOS, es decir el LADO DERECHO de la pantalla */

#div_der {
    margin: auto 0;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;      
    justify-content: space-between;   
}

.div_activos {
    margin: auto 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    overflow-y: auto;
}

#div_paginacion {
    margin: 0;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Header que es mostrado en caso de no haber los activos con los criterios de filtrar, o sea, que no hay activos con esos criterios, sin resultado */
.h1_sinResultado {
    align-self: center;
    color: white;
}

.div_contenedorActivo {
    width: 95%;
    height: auto;
    margin: 10px 20px 10px 10px;
    transition: .5s;    
    border-bottom: solid 2px white;    
    background-color: var(--ligthGrey);    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dadoBaja {
    /* background-color: var(--danger); */
    border-bottom: solid 2px var(--danger);
}

.div_contenedorActivo h1 {    
    font-size: 20px;
    align-self: center;
}

.div_contenedorActivo:hover {
    padding: 0 20px;
    border-color: var(--golden);
    color: var(--golden);
}

.div_datos_activo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3%;
}

.div_foto_activo {
    width: 15%;
    height: auto;
    margin-left: 5%;
}

.img_fotoAct {
    max-width: 100%; 
    width: fit-content;
    max-height: 100%;
    height: fit-content;
}

.div_info_activo {    
    width: 65%;
    margin-top: 1%;    
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.div_botones {
    margin-right: 3%;
    margin-bottom: 1%;    
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;    
    width: 40%;
}

.btnEditar, .btnBaja, .btnActivar {
    margin: 2px 5px;
    width: 100px;
    height: 40px;    
    border: solid 1px white;
    color: white;
    transition: .5s;
    border-radius: 5px;
}

.btnVerMas {
    margin: 0.2% 2%;
    width: 70px;
    height: 25px;
    background-color: var(--primary);
    color: white;
    border: hidden;
    border-radius: 5px;
    transition: .5s;
}

.btnEditar {
    background-color: var(--primary);
}

.btnBaja {
    background-color: var(--danger);        
}

.btnActivar {
    background-color: var(--primary);
}

.btnEditar:hover, .btnBaja:hover, .btnActivar:hover, .btnVerMas:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}


.div_btnsfiltrar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.rowInfo {
    width: 100%;
    height: auto;    
    color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rowInfo p {
    margin: 10px;
}

.rowInfo span {
    color: white;
}

/* CSS para la ventana modal de ver mas */
#form_activo{
    position: relative;
    margin: auto;
    height: 98%;
    width: 100%;
    border-radius: 8px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
}

#div_datos {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 87%;    
}

#div_datos label {
    margin: 10px 20px;
    color: white;
}

.columna {
    width: 33%;
    height: 100%;    
    display: flex;
    flex-direction: column;  
}

.txt, .cmb {
    width: 80%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

.txt:focus, .cmb:focus {
    border-radius: 5px;        
}

.txt_area {
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#txt_observ_activo, #txt_caracteristicas_intrumentos {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    background-color: var(--ligthGrey);
    color: white;
    height: 120px;
}
