
#div_izq {
    position: relative;
    margin: auto;
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#div_der {
    margin: auto 0;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;    
}