#div_izq {
    position: relative;
    margin: auto;
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}


#form_filtrar {
    margin-top: 10.5%;    
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: auto;
    max-height: 80%;
    min-width: 90%;
}

#header_filtrado {
    margin: auto;
    align-self: center;
    font-weight: normal;    
}

hr {
    width: 95%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

#lb_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 2px 10px;
}


.txt_datos {
    width: 85%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}
#txt_cod_contrato{
    width: 55%;
}
h4{
    padding-left: 5px;
    margin: 5px;
    align-self: center;
}

.cmb_datos {
    width: 85%;
    height: 30px;
    margin: 10px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}


#div_opciones {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    width: auto;
}

#btn_nuevoContrato {
    position: relative;
    align-self: center;
    width: 40%;
    height: 70%;
    background-color: var(--primary);
    color: white;    
    transition: .6s;    
    margin: auto;
    bottom: 20px;
}

#btn_filtrar {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: var(--primary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
}

#btn_limpiar {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: var(--secundary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
}

#btn_filtrar:hover, #btn_nuevoContrato:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.div_btnsfiltrar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.div_btns_agregar{
    position: relative;
    min-width: 95%;
    height: 10%;
    display: flex;
}



#div_der {
    margin: auto 0;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;    
}

.h1_sinResultado {
    align-self: center;
    color: white;
}

.div_contenedorContrato {
    background-color: var(--ligthGrey);
    width: 95%;
    height: auto;
    margin: 10px 20px 10px 10px;
    transition: .5s;    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cc_activo {
    border-bottom: solid 3px var(--primary) !important;    
}

.cc_atrasado {
    border-bottom: solid 3px var(--warning) !important;    
}

.cc_terminado {
    border-bottom: solid 3px var(--secundary) !important;
}

.cc_cancelado {  
    border-bottom: solid 3px var(--danger) !important;
}

.div_contenedorContrato:hover {
    padding: 0 20px;
    border-color: var(--golden) !important;
    color: var(--golden);
}

.div_contenedorContrato h1{    
    font-size: 20px;
    align-self: center;
    /* margin-left: 10px; */
}

.div_info_contrato {    
    margin: 5px 40px;
    font-size: 16.5px;
    font-weight: bold;
    color: grey;
}

.div_info_contrato span {
    font-size: 16.5px;
    margin: 10px;
    font-weight: normal;
    color: white;
}

.activo {
    color: var(--primary);
}

.atrasado {
    color: var(--warning);
}

.terminado {
    color: var(--secundary);
}

.cancelado {
    color: var(--danger);
}

.div_botones {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;    
    display: flex;
    flex-direction: row;
}

.btnDetalle, .btnCancelarBol {
    margin: 2px 5px;
    width: 100px;
    height: 40px;    
    border: solid 1px white;
    color: white;
    transition: .5s;
}

.btnDetalle {
    background-color: var(--primary);
}

.btnCancelarBol {
    background-color: var(--danger);
}

.btnDetalle:hover, .btnCancelarBol:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}