

/* TABLES CSS*/

/*
* Table styles
*/
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    /*
    * Header and footer styles
    */
    /*
    * Body styles
    */
}

.dataTables_filter {
    color: #ffffff !important;
    width: 15% !important;
    height: 50% !important;    
}

.dataTables_filter input {
    color: white !important;    
}

.dt-button {
    margin: 10px;
    background-color: #006097 !important;
    color: white !important;
    border: hidden !important;
    border-radius: 5px !important;
    transition: .5s !important;
}

.dt-button:hover {
    border-color: #e9a825;
    color: #e9a825;
    background-color: black !important;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

table.dataTable thead tr {
    background-color: #261a45 !important;    
}


table.dataTable thead th,
table.dataTable thead td {
    font-weight: bolder;
    padding: 10px 18px;           
    color: white !important;   
}
table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}
table.dataTable tbody tr:nth-child(even) {
    background-color: #201d1d;
    color: white !important;    
}
table.dataTable tbody tr:nth-child(odd) {
    background-color: #2b2828;
    color: white !important;    
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;    
    border: 1px solid #9a9a9a;
    border-top: hidden;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ffffff;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
    border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ffffff;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
    border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #9a9a9a;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4;
}
