hr {
    margin-bottom: 120px;
    visibility: hidden;
}

#form_activo{
    position: relative;
    margin: auto;
    height: 85%;
    width: 85%;
    border-radius: 8px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    float: right;
}

#div_datos {
    width: auto;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    max-height: 87%;
    max-width: auto;
}

#div_datos label {
    margin: 10px 20px;
    color: white;
}

.txt, .cmb {
    width: 100%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

#txt_observ_activo{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    background-color: var(--ligthGrey);
    color: white;
    width: 325px;
    height: 150px;
    resize: none;
}

#div_btns {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    position: relative;
    margin: auto;
    width: 100px;
    height: 50px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
}

#btn_guardar, .btn_cargar {
    background-color: var(--primary);    
}

#btn_cancelar, .btn_borrar {
    background-color: var(--danger);
}

#btn_cancelar:hover, #btn_guardar:hover, .btn_cargar:hover, .btn_borrar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
}

/*CSS Para lo que respecta el div para subir/editar fotos*/
#div_img {
    margin: auto;
    position: relative;
    width: 28%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-between; 
}

#img_activo {
    margin: auto;
    position: relative;
    max-width: 85%;
    max-height: 90%;
    width: fit-content;
    height: fit-content;
    border: solid 2px white;
    border-radius: 10px;
}

.img_fitContent {
    max-width: 95%;
    max-height: 70%;
    width: fit-content;
    height: fit-content;
}

#file_imgActivo {
    visibility: hidden;
}

.btn_cargar, .btn_borrar {
    position: relative;     
    float: right;
    margin: auto;
    margin-bottom: 5%;
    width: auto;
    height: auto;
    padding: 3%;        
    border: solid 1px white;    
    color: white;
    align-self: flex-end;
}

#btnsImg {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}