#form_usuario{
    position: relative;
    margin: auto;
    height: 85%;
    width: 70%;    
    background-color: var(--darkGrey)   ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div_txts {
    width: 50%;
    margin: 0% 3%;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    max-height: 87%;
}

#div_txts label {
    margin: 8px 10px;
    color: white;
    width: 80%;
}

.txt, .combobox {
    width: 100%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);    
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

#div_img {
    margin: auto;
    position: relative;
    width: 28%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-between; 
}

#img_usuario {
    margin: auto;
    position: relative;
    max-width: 85%;
    max-height: 90%;
    width: fit-content;
    height: fit-content;
    border: solid 2px white;
    border-radius: 10px;
}

.img_fitContent {
    max-width: 95%;
    max-height: 70%;
    width: fit-content;
    height: fit-content;
}

#file_imgUsuario {
    visibility: hidden;
}

.btn_cargar, .btn_borrar {
    position: relative;     
    float: right;
    margin: auto;
    margin-bottom: 5%;
    width: auto;
    height: auto;
    padding: 3%;        
    border: solid 1px white;    
    color: white;
    align-self: flex-end;
}

#div_btns {
    position: relative;
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    position: relative;
    margin: auto;
    width: 100px;
    height: 50px;
    border: solid 2px white;
    color: white;  
    transition: .5s;  
}

#btn_guardar, .btn_cargar {
    background-color: var(--primary);    
    transition: .5s;
}

#btn_cancelar, .btn_borrar {
    background-color: var(--danger);
    transition: .5s;
}

#div_pass {    
    height: auto;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    align-items: center;
    justify-content: space-around;
}

.btn_pass {
    height: 32px; 
    width: 32px; 
    background-color: var(--primary);
    border: hidden;
    border-radius: 2px;
    text-align: center;
    transition: .5s;

}

#btn_cancelar:hover, #btn_guardar:hover, .btn_cargar:hover, .btn_borrar:hover, .btn_pass:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

#btnsImg {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}