/*
    Dorado: #e9a825
    Vino: #471323
    Negro: #000000
    Gris: #2b2828
    Gris2: #201d1d
    Blanco: #ffffff
*/

html, body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
}

#div_base {
    border-radius: 20px;
    margin: auto auto auto auto;
    position: relative;
    top: 2.5%;
    width: 97.8%;
    height: 95%;
    background-color: rgb(43, 40, 40);
    display: flex;
}

#img_logo {
    position: absolute;
    margin: 0.5% 20%;
    object-fit: contain;
    width: 60%;
    height: 25%;
}

.div_mitad {
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}

#img_logo_emspz {
    position: relative;
    margin: 25% 25% 15% 25%;
    width: 50%;
    height: 60%;
    object-fit: contain;
}

#form_login {    
    position: relative;
    margin: 30% 25% 20% 25%;
    display: block;
    width: 50%;
    height: 50%;  
    background-color: #201d1d;
    border-radius: 8px;
}

#form_login label {
    color: white;   
}

#div_txts {
    position: relative;
    margin: auto;
    width: 100%;
    height: 50%;
    display: grid;
}

.iconoInput {
    width: 80%;
    height: 40px;
    position: relative;
    margin: auto;
}

.iconoInput i {
    position: absolute;
    left: 0;
    top: 30%;
    padding-left: 3px;
    color: rgb(202, 201, 201);
    transition: .5s;
}

.text {
    width: 87%;
    height: 65%;
    position: relative;
    margin: auto;
    border-radius: 4px;
    background-color: #2b2828;
    padding: 5px;
    padding-left: 30px;    
    color: white;
    border: solid 2px #2b2828;
    transition: .5s;
}

.text:focus {
    border-radius: 4px;
    border: solid 2px #e9a825;
}

.iconoInput .text:focus + i {
    border-radius: 4px;
    color: #e9a825;
}

.text:hover {
    cursor: pointer;
}

#div_btns {
    position: relative;
    margin: auto;
    width: 100%;
    height: 50%;
    display: grid;
}

.btn {
    position: relative;
    margin: auto;
    width: 80%;
    height: 50px;
    background: linear-gradient(135deg, #e9a825 40%, #821622 50%, #b31622 70%, #821622 90%);
    background-position: 100%;
    background-size: 300%;
    color: white;
    border: hidden;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s, font-size .6s;
}

.btn:hover {
    background-position: 0%;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}

.msgError {
    position: absolute;
    top: 0%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;    
    color: black;
    border: solid 2px black;
    inset: 2px;
    background-color: #b31622;
    z-index: 10;
}

.txtError {
    color: red;
}