
/* CSS que corresponde a todo lo que ira al LADO DERECHO de la vista, es decir, dentro de: div_izq */
#div_izq {
    position: relative;
    margin: auto;
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

/*FORM donde ira todo lo de filtrar*/
#form_filtrar {
    margin-top: 15%; 
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    max-height: 80%;
    min-width: 90%;
    align-self: center;
}

#header_filtrado {
    margin: auto;
    align-self: center;
    font-weight: normal;
    /* color: var(--golden); */
}

#txt_cod_boleta{
    width: 55%;
}

h4{
    padding-left: 5px;
    margin: 5px;
    align-self: center;
}

hr {
    width: 95%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

/*El label que acompañe un TXT de busqueda*/
#lb_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 2px 10px;
}

/*Cualquier TXT en el que se ingrese informacion para buscar, como el nombre o # de serie del activo*/
.txt_datos {
    width: 85%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}

/*Los combo box para los datos del tipo de activo, institucion del activo, y el estado del activo*/
.cmb_datos {
    width: 85%;
    height: 30px;
    margin: 10px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}

/*Div donde vendran todas las opciones de filtrado*/
#div_opciones {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    width: auto;
}

#btn_nuevaBoleta {
    position: relative;
    align-self: center;
    width: 40%;
    height: 70%;
    background-color: var(--primary);
    color: white;    
    transition: .6s;    
    margin: auto;
    bottom: 20px;
    border-radius: 5px;    
}

#btn_filtrar {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: var(--primary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
    border-radius: 5px;
}

#btn_limpiar {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: var(--secundary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
    border-radius: 5px;
}

#btn_filtrar:hover, #btn_nuevaBoleta:hover, #btn_limpiar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.div_btnsfiltrar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.div_btns_agregar{
    position: relative;
    min-width: 95%;
    height: 10%;
    display: flex;
}

/* CSS que corresponde a todo lo que ira al LADO DERECHO de la vista, es decir, dentro de: div_der */

#div_der {
    margin: auto 0;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;    
}

/* Header que se muestra en pantalla en caso de no haber boletas de salida para mostrar */
.h1_sinResultado {
    align-self: center;
    color: white;
}

/* Header de la boleta de salida, esquina superior izquierda */
/* .h1_boleta{
    color: #00f5d4;
} */

/* Div para las boletas que no son de estado atrasada */
.div_contenedorBoleta_n, .div_contenedorBoleta_dev, .div_contenedorBoleta_b, .div_contenedorBoleta_atr{
    background-color: var(--ligthGrey);
    width: 95%;
    height: auto;
    margin: 10px 20px 10px 10px;
    transition: .5s;    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div_contenedorBoleta_n{
    border-bottom: solid 3px white;    
}

/* Div para las boletas que cuentan con un estado devuelto */
.div_contenedorBoleta_dev{
    border-bottom: solid 3px var(--secundary);
}
/* Div para las boletas que cuentan con un estado atrasado */
.div_contenedorBoleta_b {  
    border-bottom: solid 3px var(--danger);
}

.div_contenedorBoleta_n h1, .div_contenedorBoleta_b h1, .div_contenedorBoleta_dev h1, .div_contenedorBoleta_atr h1{    
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10px;
}

.div_contenedorBoleta_n:hover, .div_contenedorBoleta_b:hover, .div_contenedorBoleta_dev:hover, .div_contenedorBoleta_atr:hover {
    padding: 0 20px;
    border-color: var(--golden);
    color: var(--golden);
}

.div_datos_boleta span{
    flex-direction: column;
    width: auto;
    margin-left: 2.5px;
}

.div_info_boleta {    
    margin: 5px 40px;
    font-size: 16.5px;
    font-weight: bold;
}

.div_info_boleta span {
    font-size: 16.5px;
    margin: 10px;
    font-weight: normal;
}

.div_botones {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;    
    display: flex;
    flex-direction: row;
}

.btnDetalle, .btnCancelarBol {
    margin: 2px 5px;
    width: 100px;
    height: 40px;    
    border: solid 1px white;
    color: white;
    transition: .5s;
    border-radius: 5px;
}

.btnDetalle {
    background-color: var(--primary);
}

.btnCancelarBol {
    background-color: var(--danger);
}

.btnDetalle:hover, .btnCancelarBol:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}