
/* Form con la informacion sobre el detalle de la boleta de salida respectiva */
#form_detalleboleta, #form_agregarboleta {
    position: relative;
    margin: auto;
    height: 75%;
    width: 49%;
    border-radius: 8px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    float: right;
}

#form_agregarboleta{
    margin-left: 2%;
}

#div_datos {
    width: auto;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    max-height: 87%;
    max-width: auto;
}

#div_datos label {
    margin: 10px 20px;
    color: white;
}

#div_btns {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txt, .cmb {
    width: 95%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

.btn {
    position: relative;
    margin: auto;
    width: 120px;
    height: 50px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
}

#txt_observaciones{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    /* margin-bottom: 150px; */
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    background-color: var(--ligthGrey);
    color: white;
    height: 120px;
    resize: none;
}

.btn_guardar, .btn_cargar {
    background-color: var(--primary);    
}

#btn_cancelar, .btn_borrar, .btnCancelarBol {
    background-color: var(--danger);
}

.btn-eliminar {  
    margin-left: 10%;  
    margin-right: 10%;  
    width: 80%;
    height: 40px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
    background-color: var(--danger);
}

#btn_cancelar:hover, .btn_guardar:hover, .btn_cargar:hover, .btn_borrar:hover, .btnCancelarBol:hover, .btn-eliminar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
}



/* CSS que respecta el lado derecho de la pantalla, donde se van a mostrar los activos respectivos de la boleta de salida  */

#div_activosBoleta{
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;   
}

#div_activosBoleta h1{
    color: white;
}

.btnAgregarActivo {
    position: relative;
    top: 4%;
    left: 46%;
    width: 75px;
    height: 40px;    
    border: solid 1px white;
    border-radius: 3px;
    color: white;
    transition: .5s;
    background-color: var(--secundary);
}

.btnAgregarActivo:hover, #btn_limpiar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#div_contActivos{
    position: relative;
    align-items: center;
    border-radius: 8px;
    width: 98%;
    height: 75%;
    background-color: var(--darkGrey);
    overflow-y: auto; 
}

/* Fin CSS de la tabla  */

/* Header que se va a mostrar si una boleta aun no tiene activos asociados, por ende no van a haber resultados dentro de la tabla donde se mostrarian los activos */
.h1_sinResultado {
    color: white;
}

#btn_limpiar {
    background-color: var(--danger);
}