#form_detalleContrato {
    position: relative;
    margin: auto;
    height: 80%;
    width: 90%;
    border-radius: 8px;
    background-color: #201d1d;
    display: flex;
    flex-direction: column;
    float: right;
}
#form_agregarcontrato {
    position: relative;
    margin: auto;
    height: 75%;
    width: 49%;
    border-radius: 8px;
    background-color: #201d1d;
    display: flex;
    flex-direction: column;
    float: right;
}

.txt, .cmb {
    width: 95%;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}
.txt_area{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    background-color: #2b2828;
    color: white;
    width: 95%;
    height: 120px;
}

#div_datos label {
    margin: 10px 20px;
    color: white;
}

#div_datos {
    width: auto;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    max-height: 87%;
    max-width: auto;
}
.btn {
    position: relative;
    margin: auto;
    min-width: 130px;
    height: 50px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
    transition: .5s;
}

#div_btns {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn_volver, #btn_CancelarContrato {
    background-color: #af0202;
}

#btn_descargar,#btn_guardar {    
    background-color: #006097;
}

#btn_TerminarContrato{
    background-color: #006097;
    visibility: hidden;
}

.btnVerMas {
    margin: 0.2% 2%;
    width: 70px;
    height: 25px;
    background-color: #006097;
    color: white;
    border: hidden;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover, .btnVerMas:hover {
    border-color: #e9a825;
    color: #e9a825;
    background-color: black !important;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

#div_datos_fiador{
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    max-height: 87%;
    position: relative;
    height: 0px;
    width: 0px;
    visibility: hidden;
}
.txt_fiador{
    width: 95%;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    background-color: #2b2828;
    color: white;
}



.div_instrumento {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;   
    height: 100%;
    width: 25%;
}




/* CSS para la ventana modal de ver mas */
#form_activo{
    position: relative;
    margin: auto;
    height: 98%;
    width: 100%;
    border-radius: 8px;
    background-color: #201d1d;
    display: flex;
    flex-direction: column;
}

#div_datos_inst {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 87%;    
}

#div_datos_inst label {
    margin: 10px 20px;
    color: white;
}

.columna {
    width: 33%;
    height: 100%;    
    display: flex;
    flex-direction: column;  
}

.txt, .cmb {
    width: 80%;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

.txt:focus, .cmb:focus {
    border-radius: 5px;        
}

.txt_area {
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#txt_observ_activo, #txt_caracteristicas_intrumentos {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    background-color: #2b2828;
    color: white;
    height: 120px;
}
#tipoIsnt {
    width: 100%;
    height: 50px;
    margin: auto;
}

#cmb_tipo {
    width: 40%;
}

#txt_numero {
    width: 35%;
}
