
html, body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color:#000000;
    font-family: 'Segoe UI';
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
    font-weight: lighter;
}

/* CSS para mostrar las opciones de filtrado de los usuarios */

#div_izq {
    position: relative;
    margin: auto;
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#form_filtrar {
    margin-top: 10.5%;    
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    max-height: 80%;
    min-width: 90%;
}

#form_filtrar h1 {
    margin: auto;
    align-self: center;
    font-weight: normal;
}

hr {
    width: 95%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

.lb_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 14px 2px 10px;
}

.txt {
    width: 97%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);    
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

.div_btnsfiltrar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.boton {
    background: var(--primary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
    border: solid 1px white;
}

#btn_filtrar, #btn_limpiar {
    margin: 20px;
    width: 100px;
    height: 40px;
}

#btn_limpiar {
    background-color: var(--secundary);
}

#btn_actualizar {
    margin: 40px;
    width: 200px;
    height: 50px;
}

#btn_filtrar:hover, #btn_limpiar:hover, #btn_actualizar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

/* CSS para mostrar la lista de usuarios */

#div_der {
    margin: auto 0;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;      
    justify-content: space-between;  
}

#div_estudiantes {
    margin: auto 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    overflow-y: auto;
}

#div_paginacion {
    margin: 0;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#modal_actualizando_estudiantes {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.h1_sinResultado {
    align-self: center;
    color: white;
}

.div_contenedorEstudiante {
    width: 95%;
    height: auto;
    margin: 10px 20px 10px 10px;
    transition: .5s;
    border-bottom: solid 2px white;
    background-color: var(--ligthGrey);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_infoEstudiante {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: auto;
    max-height: 90px;
    align-items: center;
    flex-wrap: wrap;
}

.div_infoEstudiante h1 {
    font-size: larger;
    align-self: flex-start;
    margin: 5px 10px;
    color: grey;
}

.div_infoEstudiante small {    
    font-weight: lighter;
    align-self: flex-start;    
    color: white;
}

.div_encargados {
    margin-left: 40px;
    margin-bottom: 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.div_infoEnc {
   margin-left: 10px;
   margin-top: 3px;
   display: flex;
   flex-direction: row;
}

.div_infoEnc h1 {
    font-size: large;
    align-self: flex-start;
    margin: 2px 5px;
    color: grey;
}

.div_infoEnc small {    
    font-weight: lighter;
    align-self: flex-start;    
    color: white;
}

.div_contenedorEstudiante:hover {
    padding: 0 20px;
    border-color: var(--golden);
}


