/* CSS para la pantalla de inicio */

.div_contenido {
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.div_contenido h2 {
    position: relative;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 50px;   
    width: auto;
    text-align: center;
    align-self: center;     
}


.div_botones {
    position: relative;
    margin: auto;
    width: 70%;
    height: 70%;
    /* background-color: var(--darkGrey); */
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;       
}

.div_fila {
    position: relative;
    margin: auto;
    width: 70%;
    height: 45%;    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.btn {
    position: relative;
    margin: auto;
    align-self: center;
    width: 45%;
    height: 95%;
    font-size: xx-large;
    transition: .5s;
    border: solid 2px white;
    text-align: center;
}

#btn_activos {
    background-color: var(--primary);
}

#btn_instrumentos {
    background-color: var(--secundary);
}

#btn_contratos {
    background-color: var(--info);
}

#btn_boletas {
    background-color: var(--warning);
}

.btn:hover {
    background-color: black !important;
    color: var(--golden);
    border: solid 2px var(--golden);
    cursor: pointer;
    transform: scale(1.1, 1.1);
}