:root {
    --primary       : #0275d8;
    --secundary     : #5cb85c;
    --info          : #5bc0de;
    --warning       : #f0ad4e;
    --danger        : #c42c27;
    --golden        : #e9a825;
    --darkGrey      : #201d1d;
    --ligthGrey     : #2b2828;
    --loadingbk     : rgba(32, 29, 29, 0.82);
}

html, body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color:#000000;
    font-family: 'Segoe UI';
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
    font-weight: lighter;
}

input[type="button"], input[type="submit"], button {
    border-radius: 5px !important;
}



/* Estilos para la barra superior donde estara el nombre de usuario y la foto del mismo */
#div_top {
    position: relative;
    margin: auto;
    width: 100%;
    height: 35px;
    max-height: 45px;
    background-color: #2b2828;
    border-bottom: solid 1px white;
}

#div_logo {
    position: relative;
    margin: 1px;
    float: left;
    height: 35px;
    max-height: 35px;
    width: auto;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

#div_logo img {
    height: 20px;
    width: auto;    
    margin: auto 6px;
    object-fit: contain;
}

#div_logo img:hover {
    cursor: pointer;
}

#div_nomUsuario {
    position: relative;
    float: right;
    margin: auto 5px;
    width: auto;
    height: 100%;
    justify-content: flex-end;
    display: inline-flex;
    flex-direction: row;
}

#div_nomUsuario:hover {
    cursor: pointer;
}

#div_nomUsuario p {
    margin: auto 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: .5s;
}

#div_nomUsuario p:hover {
    color: var(--golden);
    cursor: pointer;
}

.div_seccionActiva {
    position: absolute;
    width: 250px;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*  Codigo y estilo para el menu de usuario  */
#div_menuUsuario {
    position: fixed;
    right: -241px;
    top: 35px;
    height: 200px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(135deg, #2b2828 85%, #312d2d 95%);
    border-radius: 0 0 0 20px;
    z-index: 1;
    transition: .2s;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
}

#div_infoUsuario {
    position: relative;
    padding-bottom: 10px;
    margin: 10px auto 15px auto;    
    width: 94%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px white;
}

#div_infoUsuario p {
    margin: auto 5px;
    text-decoration: none;
    color: white;
}

#div_foto {
    position: relative;
    margin: auto 5px;
    margin-right: 2px;
    width: 60px;
    height: 60px;    
    max-width: 60px;
    max-height: 60px;
    background-color: #000000;
    border: solid 2px #000000;
    border-radius: 5px;
    transition: .5s;
}

#div_foto img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#div_menuUsuario a {
    text-decoration: none;
    margin: 5px 10px;
    color: white;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    width: 88%;
    text-align: right;
    transition: .3s;
}

#div_menuUsuario a:hover {
    color: var(--golden);
    border-color: var(--golden);
}

/* Estilos para el boton de menu y la barra lateral */

.btn_menu {
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 1;
}

.btn_menu:hover {
    cursor: pointer;    
}

#barra1, #barra2, #barra3 {
    width: 35px;
    height: 5px;
    background-color: var(--golden);
    margin: 6px 0;
    transition: 0.4s;
}
  
.cambiar #barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.cambiar #barra2 {
    opacity: 0;     
}
  
.cambiar #barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#div_menu {
    position: fixed;
    top: 35px;
    left: -241px;
    width: 240px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;    
    background: linear-gradient(135deg, #2b2828 85%, #312d2d 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-grow: 1;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-radius: 0 0 20px 0;
    z-index: 1;
}

#div_menu a {
    text-decoration: none;
    color: white;
    transition: .3s;
    font-size: large;      
    float: left;    
    margin: 2px 10px;
    border-bottom: solid 1px white;
    width: 88%;
    padding-bottom: 2px;
}

#div_menu a:hover {
    color: var(--golden);
    border-color: var(--golden);
}

/* Estilos para la parte donde se cargara la inforacion o los datos que sean necesarios dependiendo de la seccion donde se este */
#div_base {
    position: relative;
    margin: auto;
    width: 100%;
    height: calc(100% - 35px);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}




.div_contenido {
    width: 100%;
    height: 100%;
    position: relative;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Animaciones para el menu */

@keyframes abrirBoton {
    from {left: 10px;}
    to {left: 200px;}
}

@keyframes cerrarBoton {
    from {left: 200px;}
    to {left: 10px;}
}

@keyframes abrirMenu {
    from {left: -241px;}
    to {left: 0px;}
}

@keyframes cerrarMenu {
    from {left: 0px;}
    to {left: -241px;}
}

@keyframes abrirMenuUsuario {
    from {right: -241px;}
    to {right: 0px;}
}

@keyframes cerrarMenuUsuario {
    from {right: 0px;}
    to {right: -241px;}
}

/* Estilo para la barra de carga */
.cargando {
    position: relative;
    margin: auto;
    max-width: 20%;
    max-height: 20%;
    align-self: center;
    color:white
}
     
/* CSS para los mensajes en las diferetes pantallas */
.msgError {
    position: absolute;
    top: 0%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;    
    color: black;
    border: solid 2px black;
    inset: 2px;
    background-color: var(--danger);
    z-index: 10;
}

.txtError {
    color: var(--danger);
}




.fadeIn {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}    


/* CSS del div_loading */

#div_loading {
    visibility: hidden;
    background-color: var(--loadingbk);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    text-align: center;
}

