.div_contenido {
    flex-direction: column;
    color: white;
}

hr {    
    margin: auto;
    height: 85%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

.div_titulo {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 15%;
    height: 100%;
}

#div_tabla {
    position: relative;
    margin: auto;
    align-items: center;
    border-radius: 8px;
    width: 85%;
    height: 78%;
    background-color: var(--darkGrey);
    overflow-y: auto; 
}

.div_volver{
    position: absolute;
    width: 50%;
    align-self: center;
    align-items: center;
    margin: auto;
    bottom: 2px;
    left: 30%;
}

#header {
    margin: auto;
    align-self: center;
    font-weight: normal;
}

.btn{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    align-self: center;
    width: 25%;
    height: 43px;
    background: var(--primary);
    color: white;    
    transition: .6s;    
}

.btn:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

#btn_volver{
    margin-left: 27%;
}


.div_control {
    margin: auto; 
    border-radius: 25px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: row;    
    height: 15%;
    width: 80%;    
    justify-content: space-around;    
}

.labels {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 2px 15px;
    align-self: flex-start;
}

.lb_rb {
    padding: 2px;    
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5px 10px 2px 15px;
    align-self: center;
}

.div_btn {
    margin: auto;
    width: 20%;
    height: auto;
    align-self: center;
    display: flex;
}


.btn{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    align-self: center;
    width: 45%;
    height: 45px;
    background: var(--primary);
    color: white;    
    transition: .6s;    
}

.btn:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.tabla {
    table-layout: fixed; 
    word-wrap:break-word;
}

.txt {
    width: 95%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

.txt_hidden {
    visibility: hidden;
}

.div_fechas {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 90%;
    width: 50%;
    align-self: center;
    justify-content: space-around;
}

.ck_horas {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 90%;
    width: 10%;
    align-self: center;
    justify-content: space-around;
}