body {    
    font-family: 'Segoe UI';
}

body h3 {
    color: #3e3e3e;   
}

body small { 
    color: black;
    font-weight: normal;
}

#documento {
    width: 100%;
}

#documento hr {
    width: 95%;
}

#top {
    widows: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#info { 
    width: 80%;    
}

#tabla thead tr{
    background-color: gray;
}

#tabla thead tr td {
    color: white;
}

#tabla tbody tr{
    border-bottom: solid 1px black;
}