.div_contenido {
    flex-direction: column !important;
}


#div_izq {
    position: relative;
    margin: 1%;     
    width: 100%;
    height: 15%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

/* Div adentro del cual se encuentra el form, es decir, el div que contiene al form */
.div_form {
    margin: auto; 
    border-radius: 25px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: row;    
    height: 90%;
    width: 80%;    
    justify-content: space-around;    
}

#header {
    margin: auto;
    align-self: center;
    font-weight: normal;
}

hr {    
    margin: auto;
    height: 85%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

.div_titulo {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 15%;
    height: 100%;
}

/*Div donde vendran las opciones para generar un reporte*/
.div_opciones {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 90%;
    width: 60%;
    align-self: center;
    justify-content: space-around;
}

/* Label para los combobox */
.label {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 2px 15px;
    align-self: flex-start;
}

/*Los combo box para los datos a escoger y generar un reporte*/
.cmb_datos {
    width: 75%;
    height: 35px;
    margin: 12px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
    margin-bottom: 30px;
}

.div_btn {
    margin: auto;
    width: 20%;
    height: auto;
    align-self: center;
    display: flex;
}

.btn{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    align-self: center;
    width: 45%;
    height: 45px;
    background: var(--primary);
    color: white;    
    transition: .6s;    
}

.btn:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}



#btn_registro_acciones{
    margin-left: 27%;
}

#div_der {
    margin: auto;
    width: 100%;
    height: 85%;    
    display: flex;
    flex-direction: row;
    align-items: center;     
}

/* Div donde se va a mostrar una vista previa del reporte generado */
#div_preview{
    position: relative;
    margin: auto;
    align-items: center;    
    width: 95%;
    height: 87%;
    background-color: var(--darkGrey);
    overflow-y: auto; 
}

.tabla {
    table-layout: fixed; 
    word-wrap:break-word;
}




