
/* CSS para mostrar las opciones de filtrado de los usuarios */

#div_izq {
    position: relative;
    margin: auto;
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#form_filtrar {
    margin-top: 10.5%;    
    background-color: var(--darkGrey);
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    max-height: 80%;
    min-width: 90%;
}

#form_filtrar h1 {
    margin: auto;
    align-self: center;
    font-weight: normal;
}

hr {
    width: 95%;
    color: var(--golden);
}

.small_class {
    font-weight: lighter;
}

#lb_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 14px 2px 10px;
}

#txt_buscarNom {
    width: 97%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);    
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

.lb_contenedor {
    position: relative;
    margin: 2px 10px;
}


#div_opciones {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    width: auto;
}

.cmb_datos {
    width: 80%;
    height: 30px;
    margin: 10px;
    border: solid 1px var(--ligthGrey);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
    align-self: center;
}

.div_btnsfiltrar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#btn_filtrar, #btn_limpiar {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: var(--primary);
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    align-self: center;
}

#btn_limpiar {
    background-color: var(--secundary);
}

.div_btns_agregar{
    position: relative;
    min-width: 95%;
    height: 10%;
    display: flex;
}

.btn {
    position: relative;
    align-self: center;
    width: 40%;
    height: 70%;    
    color: white;    
    transition: .6s;    
    margin: auto;
    bottom: 20px;
}

#btn_nuevoUs {
    background: var(--primary);
}   

#btn_presidente {
    background: var(--secundary);
}   

.boton:hover, #btn_nuevoUs:hover, #btn_filtrar:hover, #btn_presidente:hover {
    border-color: var(--golden);
    color: var(--golden) !important;
    background-color: black !important;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

/* CSS para mostrar la lista de usuarios */

#div_der {
    margin: auto 0;
    width: 65%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;    
}

.h1_sinResultado {
    align-self: center;
    color: white;
}

.div_contenedorUsuario {
    width: 95%;
    height: 250px;
    margin: 10px 20px 10px 10px;
    transition: .5s;    
    border-bottom: solid 4px white;    
    background-color: var(--ligthGrey);    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baja {
    border-bottom: solid 4px var(--danger);
}

.div_contenedorUsuario h1 {    
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10px;
}

.div_contenedorUsuario:hover {
    padding: 0 20px;
    border-color: var(--golden);
    color: var(--golden);
}

.div_textUsuario {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 15px;
    align-self: flex-start;    
}

.div_fotoUsuario {
    margin: auto;
    margin-left: 3%;
    width: 120px;
    height: 120px;
}

.img_fotoUs {
    max-width: 100%; 
    width: fit-content;
    max-height: 100%;
    height: fit-content;    
}

.div_infoUsuario { 
    width: 80%;    
    margin: 5px 40px;
    font-size: 18px;
}

.div_infoUsuario span {
    font-size: large;
    margin: 3px;
    color: grey;
}

.div_infoUsuario small {
    font-size: medium;
    margin: 3px;
    color: #ffffff;
}

.small_dadoBaja {
    color: var(--danger);
}

.div_botones {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;    
    display: flex;
    flex-direction: row;
}

.btnEditar, .btnBaja, .btnActivar {
    margin: 2px 5px;
    width: 100px;
    height: 40px;    
    border: solid 1px white;
    color: white;
    transition: .5s;
}

.btnEditar {
    background-color: var(--primary);
}

.btnBaja {
    background-color: var(--danger);        
}

.btnActivar {
    background-color: var(--secundary);
}

.btnEditar:hover, .btnBaja:hover, .btnActivar:hover {
    border-color: var(--golden);
    color: var(--golden);
    background-color: black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#div_usuarios {
    margin: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    overflow-y: auto;
}

#div_paginacion {
    margin: 0;
    margin-top: 15px;
    width: 100%;
    height: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnsBaja {
    position: relative;
    margin: 2px 4px;
    width: 40%;
    max-width: 40%;
    max-height: 60%;
    color: white;
    border: solid 1px white;    
}


/* CCS para el modal de editar el presidente */

#form_presidente {        
    background-color: var(--darkGrey);    
    width: 100%;
    height: 100%;
    color: white;        
    display: flex;
    flex-direction: column;    
    align-items: center;
}

#div_presidente {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.lb_infoPre {
    position: relative;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 20px 14px 2px 10px;
}

.txt_infoPre {
    width: 90%;
    height: 30px;
    margin: 5px;
    border: solid 1px var(--ligthGrey);    
    padding-left: 5px;
    background-color: var(--ligthGrey);
    color: white;
}

